$size: 4px;
$back-color: lightgray;
$thumb-color: #26a69a;

.main-page {
  display: flex;
  flex-direction: column;
  position: relative;

  &__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &-text {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
    }
  }

  &__header {
    line-height: 24px;
    width: 100%;
    display: flex;
    height: 51px;
    font-weight: 700;
    border-bottom: 1px dashed gray;

    &-item {
      cursor: pointer;
    }
  }

  & &__table {
    font-size: 14px;
    position: relative;
    border-bottom: 1px dashed gray;

    &-body {
      line-height: 20px;
      height: 260px;
      overflow-y: auto;
    
      scrollbar-color: $back-color;
      scrollbar-width: thin;
    
      &::-webkit-scrollbar {
        display: block;
        width: $size;
        height: $size;
      }
      &::-webkit-scrollbar-track {
        background-color: $back-color;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: $thumb-color;
      }
    
      &--loading {
        opacity: 0.6;
      }

      &-item {
        display: flex;
        height: 52px;

        &:nth-of-type(even) {
          background-color: rgb(234, 246, 245);
          border-radius: 4px;
        }
      }
    }

    &-id {
      width: 10%;
    }
    &-lastname,
    &-firstname {
      width: 30%;
    }
    &-birthday {
      width: 25%;
    }

    &-id,
    &-lastname,
    &-firstname,
    &-birthday {
      display: flex;
      align-items: center;
      padding-left: 10px;
      position: relative;
    }
  }

  &__sort {
    margin-left: 4px;
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
  }

  &__dialog {
    position: absolute;
    top: 10%;
    left: 10%;

    @media (min-width: 600px) {
      top: 100px;
      left: 100px;
    }
  }

  &__pagination {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;

    > li {
      width: 30px;
      height: 30px;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--active {
      pointer-events: none;
      color: white;
      background-color: #26a69a;
      border-radius: 2px;
    }
  }

  & &__arrow { 
    cursor: pointer;
    position: relative;

    &--disabled {
      pointer-events: none;
      color: gainsboro;
    }

    &--big {
      > i {
        font-size: 30px;
      }
    }

    &--left,
    &--right {
      position: absolute;
    }

    &--left {
      left: 8px;
    }

    &--right {
      right: 8px;
    }
  }
}
