.main-page {
  display: flex;
  flex-direction: column;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
    }

    &-button {
    }
  }

  &__table {
    position: relative;
    
    &--loading {
      opacity: 0.6;
    }

    &-head {
      font-weight: 700;
    }

    &-body {
      font-weight: 400;
    }
  }

  &__loader {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
  }
}
